/** @format */

body {
    margin: 0;
    min-width: 250px;
}

/* Inclui o preenchimento e a borda na largura e altura no total de um elemento */
* {
    box-sizing: border-box;
}

/* Removi as margens e preenchimento da Lista */
ul {
    margin: 0;
    padding: 0;
}

/* Estilizei os itens da Lista */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* Tornei os itens da lista NÃO selecionáveis */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Defini todos os itens da Lista para uma cor diferente */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Coloquei uma cor de fundo mais escura ao passar o mouse por cima */
ul li:hover {
    background: #ddd;
}

/* Coloquei para quando clicar, adicionar uma cor de fundo e riscar o texto */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Adicionei um símbolo de ✔️ ao clicar na Atividade da Lista */
ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Estilizei o botão de EXCLUIR atividade */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Estilizei o cabeçalho */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Limpei o texto após o cabeçalho */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilizei a entrada de texto do USUÁRIO */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Estilizei o botão de ADICIONAR */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
